.contacts{
    margin-top: 64px;
}
.jumbotron{
    margin-bottom: 0rem !important;
    border-radius: 10px !important;
}
.btn-form{
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: #dc3545;
    font-weight: 900;
    margin-top: 10px;
}